@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto";
}

a{
    text-decoration: none;
}

.logo:hover{
    cursor: pointer;
}

.container{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 30px 0;
}

.header__body{
    border-bottom: 1px solid rgba(18, 23, 34, 0.1);

}

.header__row__right{
    display: flex;
    align-items: center;
}

.header__btns{
    margin-top: 10px;
}

.header__btn{
    color: rgba(18, 23, 34, 0.7);
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    opacity: 0.7;
    transition: 0.5s;
}

.header__btn:hover{
    background: rgba(64, 140, 255, 0.1);
    border-radius: 20px;
    padding: 10px 20px;
}

.btn-2{
    background: rgba(64, 140, 255, 0.1);
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 30px;
}

.btn-2:hover{
    color: rgba(18, 23, 34, 0.7);
    background: none;
}

.header__lists{
    display: flex;
    list-style: none;
    margin-left: 50px;
}

.header__item{
    padding-right: 40px;
}

.header__link{
    color: rgba(18, 23, 34, 0.7);
    transition: 0.5s;
}

.header__link:hover, .current{
    color: #121722;
}

.intro__body{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.intro__img{
    height: 400px;
}

.intro__title{
    font-size: 50px;
    color: #121722;
    font-weight: normal; 
}

.intro__text{
    font-size: 20px;
    line-height: 27px;
    color: rgba(18, 23, 34, 0.7);
    margin-top: 20px;
}

.intro__btn{
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    background: #4058FF;
    box-shadow: 0px 4px 4px rgba(18, 23, 34, 0.01);
    border-radius: 100px;
    transition: 500ms;
    border: 2px solid #4058FF;
}

.intro__btn:hover{
    background: transparent;
    color: #4058FF;
}

.btn{
    margin-top: 40px;
}

.rec{
    margin-top: 100px;
}

.rec__title{
    text-align: center;
    font-size: 28px;
    line-height: 42px;
    font-weight: normal;
    color: #121722;
}

.rec__text{
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: rgba(18, 23, 34, 0.7);
    margin-top: 10px;
}

.rec__column-2{
    margin: 50px 0px;
    background: #4058FF;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 35px 50px;
}

.rec__row__right__title{
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: #fff;
}

.rec__row__right__text{
    font-size: 16px;
    line-height: 29px;
    color: #E8F1FF;
    font-weight: 300;
    margin-top: 10px;
}

.rec__row__left__img{
    height: 400px;
}

hr{
    box-shadow: none;
    margin-top: 30px;
    opacity: 0.4;
}

.rec__row__right__text-2{
    font-size: 14px;
    line-height: 29px;
    color: #E8F1FF;
    font-weight: 300;
    margin-top: 25px;
}

.static__body{
    background: rgba(241, 245, 255, 0.5);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 35px 50px;
    margin-bottom: 50px;x
}

.static__row__left__img{
    height: 450px;
    border-radius: 17px
}

.static__title{
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
}

.static__text{
    color: rgba(18, 23, 34, 0.7);
}

.static__row__right{
    padding: 100px 50px;
}
