@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto";
}

a{
    text-decoration: none;
}

.logo:hover{
    cursor: pointer;
}

.container{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 30px 0;
}

.header__body{
    border-bottom: 1px solid rgba(18, 23, 34, 0.1);

}

.header__row__right{
    display: flex;
    align-items: center;
}

.header__btns{
    margin-top: 10px;
}

.header__btn{
    color: rgba(18, 23, 34, 0.7);
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    opacity: 0.7;
    transition: 0.5s;
}

.header__btn:hover{
    background: rgba(64, 140, 255, 0.1);
    border-radius: 20px;
    padding: 10px 20px;
}

.btn-2{
    background: rgba(64, 140, 255, 0.1);
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 30px;
}

.btn-2:hover{
    color: rgba(18, 23, 34, 0.7);
    background: none;
}

.header__lists{
    display: flex;
    list-style: none;
    margin-left: 50px;
}

.header__item{
    padding-right: 40px;
}

.header__link{
    color: rgba(18, 23, 34, 0.7);
    transition: 0.5s;
}

.header__link:hover, .current{
    color: #121722;
}

.intro__body{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.intro__img{
    height: 400px;
}

.intro__title{
    font-size: 50px;
    color: #121722;
    font-weight: normal; 
}

.intro__text{
    font-size: 20px;
    line-height: 27px;
    color: rgba(18, 23, 34, 0.7);
    margin-top: 20px;
}

.intro__btn{
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    background: #4058FF;
    box-shadow: 0px 4px 4px rgba(18, 23, 34, 0.01);
    border-radius: 100px;
    transition: 500ms;
    border: 2px solid #4058FF;
}

.intro__btn:hover{
    background: transparent;
    color: #4058FF;
}

.btn{
    margin-top: 40px;
}

.rec{
    margin-top: 100px;
}

.rec__title{
    text-align: center;
    font-size: 28px;
    line-height: 42px;
    font-weight: normal;
    color: #121722;
}

.rec__text{
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: rgba(18, 23, 34, 0.7);
    margin-top: 10px;
}

.rec__column-2{
    margin: 50px 0px;
    background: #4058FF;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 35px 50px;
}

.rec__row__right__title{
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: #fff;
}

.rec__row__right__text{
    font-size: 16px;
    line-height: 29px;
    color: #E8F1FF;
    font-weight: 300;
    margin-top: 10px;
}

.rec__row__left__img{
    height: 400px;
}

hr{
    box-shadow: none;
    margin-top: 30px;
    opacity: 0.4;
}

.rec__row__right__text-2{
    font-size: 14px;
    line-height: 29px;
    color: #E8F1FF;
    font-weight: 300;
    margin-top: 25px;
}

.static__body{
    background: rgba(241, 245, 255, 0.5);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 35px 50px;
    margin-bottom: 50px;
}

.static__row__left__img{
    height: 450px;
    border-radius: 17px
}

.static__title{
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
}

.static__text{
    color: rgba(18, 23, 34, 0.7);
}

.static__row__right{
    padding: 100px 50px;
}

.comments__column-1{
    display: flex;
    justify-content: space-between;
}

.comments__img{
    height: 530px;
}

.img-1{
    height: 470px;
}

.comments__column1__title{
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    color: #121722;
    margin-top: 20px;
    margin-bottom: 7px;
}

.comments__column1__texts{
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: rgba(18, 23, 34, 0.7);
    text-align: center;
}

.performs__body{
    margin-top: 50px;
    margin-bottom: 50px;
    background: #121722;
    padding: 50px 50px 35px 50px;
    display: flex;
    justify-content: space-between;     
}

.performs__title{
    color: #fff;
    font-weight: normal;
    font-size: 34px;
    line-height: 38px;
}

.performs__text{
    color: #B9C0D5;
    margin-top: 15px;
}

.performs__img{
    height: 450px;
}

.performs__row__left{
    margin: 140px 30px 0 ;
}

.contacts__body{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.contacts__img{
    height: 480px;
    width: 500px;
    margin-left: -10px;
}

.img-2{
    margin-right: -10px;
}

.sales__body{
    background: rgba(241, 245, 255, 0.5);
    border-radius: 16px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.sales__row__right{
    display: flex;
}

.sales__img{
    height: 400px;
}

.sales__img:not(:last-child){
    margin-right: 30px;
}

.sales__title{
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    color: #121722;
}

.sales__text{
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgba(18, 23, 34, 0.7);
    margin-top: 10px;
}

.sales__row__left{
    margin  : 10px;
}

.temp__title{
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: #121722;
    margin-top: 60px;
}

.temp__text{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: rgba(18, 23, 34, 0.7);
    margin-top: 15px;
}

.temp__btns{
    margin-top: 40px;
    text-align: center;
}

.temp__btn{
    color: #4058FF;
    font-weight: bold;
    padding: 15px 30px;
    background: rgba(64, 140, 255, 0.1);
    border-radius: 34px;
    transition: 0.5s;
    border: 2px solid transparent;
}

.temp__btn:hover{
    background: none;
    border: 2px solid #4058FF;
}

.temp__column2{
    margin-top: 70px;
}

.temp__column2__col{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

h4{
    font-weight: 400;
    margin-top: 5px;
    font-size: 18px;
}

.temp__links{
    color: rgba(18, 23, 34, 0.6);
    display: block;
    margin-top: 5px;
}

.temp__column__body{
    background: #4058FF;
    border-radius: 16px;
    margin-bottom: 50px;
}

.temp__column-2{
    margin-top: 50px;
}

.temp__title-2{
    font-weight: normal;
    font-size: 34px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}

.temp__btns-2{
    position: relative;
    text-align: center;
    top: -50px;
    padding-bottom: 40px;
}

.temp__btn-2{
    font-weight: bold;
    font-size: 18px;    
    line-height: 18px;
    text-align: center;
    color: #4058FF;
    padding: 15px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(18, 23, 34, 0.01);
    border-radius: 100px;
    border: 2px solid #fff;
    transition: 0.5s;
}

.temp__btn-2:hover{
    color: #fff;
    background: none;
}

.footer__img{
    display: block;
    margin-bottom: 20px;
}

.copyright__text{
    color: rgba(18, 23, 34, 0.6);
    font-size: 15px;
}

.footer__rows{
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

footer{
    margin-top: 100px;
}

.footer__links{
    color: rgba(18, 23, 34, 0.7);
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    font-size: 15px;
}